[submodule "themes/hexo-theme-random"]
	path = themes/hexo-theme-random
	url = https://github.com/stiekel/hexo-theme-random.git
[submodule "themes/uno"]
	path = themes/uno
	url = https://github.com/daleanthony/uno.git
[submodule "themes/hexo-theme-again"]
	path = themes/hexo-theme-again
	url = https://github.com/DrakeLeung/hexo-theme-again.git
[submodule "themes/hexo-theme-clean-blog"]
	path = themes/hexo-theme-clean-blog
	url = https://github.com/klugjo/hexo-theme-clean-blog.git
[submodule "themes/hexo-theme-paperbox"]
	path = themes/hexo-theme-paperbox
	url = https://github.com/sun11/hexo-theme-paperbox.git
[submodule "themes/oishi"]
	path = themes/oishi
	url = https://github.com/henryhuang/oishi.git
[submodule "themes/hexo-theme-casper"]
	path = themes/hexo-theme-casper
	url = https://github.com/kywk/hexo-theme-casper.git
