<!--&lt;!&ndash; JiaThis Button BEGIN &ndash;&gt;-->
<!--<div class="jiathis_style">-->
    <!--<span class="jiathis_txt">分享到：</span>-->
    <!--<a class="jiathis_button_weixin"></a>-->
    <!--<a class="jiathis_button_cqq"></a>-->
    <!--<a class="jiathis_button_douban"></a>-->
    <!--<a class="jiathis_button_tieba"></a>-->
    <!--<a class="jiathis_button_fb"></a>-->
    <!--<a class="jiathis_button_twitter"></a>-->
    <!--<a class="jiathis_button_googleplus"></a>-->
    <!--<a class="jiathis_button_linkedin"></a>-->
    <!--<a class="jiathis_button_ydnote"></a>-->
    <!--<a class="jiathis_button_evernote"></a>-->
    <!--<a class="jiathis_button_tsina"></a>-->
    <!--<a class="jiathis_button_qzone"></a>-->
    <!--<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>-->
<!--</div>-->
<!--<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>-->
<!--&lt;!&ndash; JiaThis Button END &ndash;&gt;-->



<!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?btn=r2.gif" charset="utf-8"></script>
<!-- JiaThis Button END -->